#adiv1{
    width: 1360px;
    height: 615px;
    background-color: #000000;
    position: relative;
    top: px;
    border: 5px solid #80461B;
}
#div2{
    width: 750px;
    height: 600px;
}
#cof2{
    width: 550px;
    height: 600px;
}
#adiv3{
    width: 0px;
    height: 60px;
    position: relative;
    right: 210px;
}
#abt{
    color: white;
    position: relative;
    left: 220px;
}
#cof3{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 10px;
}
#pre2{
    font-size: 15px;
    color: white;
    position: relative;
    left: 180px;
    bottom: 110px;
}
#cof4{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    bottom: 35px;
}
#pre3{
    font-size: 15px;
    color: white;
    position: relative;
    left: 180px;
    bottom: 140px;
}
#cof5{
    width: 566px;
    height: 150px;
    position: relative;
    left: -13px;
    bottom: 67px;
}