#div1 {
    height: 690px;
    position: relative;
    top: 100px;
}
#div2 {
    background-color: red;
    width: 550px;
    height: 605px;
    position: relative;
    border-left: 5px solid #80461B;
    border-top: 5px solid #80461B;
}
#cof2 {
    width: 550px;
    height: 600px;
    border-bottom: 5px solid #80461B;
}
#div3 {
    background-color: #000000;
    width: 550px;
    height: 600px;
    position: relative;
    left: -28px;
    border-right: 5px solid #80461B;
    border-top: 5px solid #80461B;
}
#abt {
    color: white;
    position: relative;
    left: 200px;
}
#cof3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 10px;
}
#pre2 {
    color: white;
    position: relative;
    left: 180px;
    bottom: 110px;
}
#cof4 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    bottom: 35px;
}
#pre3 {
    color: white;
    position: relative;
    left: 180px;
    bottom: 140px;
}
#cof5 {
    width: 550px;
    height: 150px;
    position: relative;
    left: -12px;
    bottom: 85px;
    border-right: 5px solid #80461B;
    border-bottom: 5px solid #80461B;
}
