#div20 {
    background-color: #000000;
    height: 630px;
    position: relative;
    border: 5px solid #80461B;
}
#brand {
    color: #ffffff;
    position: relative;
    left: 500px;
    top: 20px;
}
#div21 {
    background-color: #000000;
    width: 250px;
    height: 500px;
    position: relative;
    top: 30px;
}
#div22 {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    position: relative;
    left: 23px;
    top: 20px;
    border: 3px solid #CD7F32;
}
#bru {
    width: 150px;
    height: 150px;
    position: relative;
    left: 20px;
}
#p3 {
    border-bottom: 3px solid #CD7F32;
}
#bru1 {
    color: green;
    font-size: 35px;
    position: relative;
    bottom: 10px;
    left: 60px;
}
#div23 {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    position: relative;
    left: 23px;
    top: 80px;
    border: 3px solid #CD7F32;
}
#david {
    color: #C80815;
    font-size: 35px;
    position: relative;
    bottom: 10px;
    left: 15px;
}
#div24 {
    background-color: #000000;
    width: 250px;
    height: 500px;
    position: relative;
    top: 30px;
}
#div25 {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    position: relative;
    left: 23px;
    top: 20px;
    border: 3px solid #CD7F32;
}
#rage {
    color: #800080;
    font-size: 35px;
    position: relative;
    bottom: 10px;
    left: 55px;
}
#div26 {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    position: relative;
    left: 23px;
    top: 80px;
    border: 3px solid #CD7F32;
}
#sleep {
    color: #4B0082;
    font-size: 35px;
    position: relative;
    bottom: 10px;
    left: 6px;
}
#div27 {
    background-color: #000000;
    width: 250px;
    height: 500px;
    position: relative;
    top: 30px;
}
#div28 {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    position: relative;
    left: 23px;
    top: 20px;
    border: 3px solid #CD7F32;
}
#nescafe {
    color: #F40009;
    font-size: 35px;
    position: relative;
    bottom: 10px;
    left: 25px;
}
#div29 {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    position: relative;
    left: 23px;
    top: 80px;
    border: 3px solid #CD7F32;
}
#bar {
    color: #800020;
    font-size: 35px;
    position: relative;
    bottom: 10px;
    left: 11px;
}
#div30 {
    background-color: #000000;
    width: 250px;
    height: 500px;
    position: relative;
    top: 30px;
    left: 10px;
}
#div31 {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    position: relative;
    left: 23px;
    top: 20px;
    border: 3px solid #CD7F32;
}
#bri {
    color: #E25822;
    font-size: 35px;
    position: relative;
    bottom: 10px;
    left: 30px;
}
#div32 {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    position: relative;
    left: 23px;
    top: 80px;
    border: 3px solid #CD7F32;
}
#xtra {
    color: #8B0000;
    font-size: 35px;
    position: relative;
    bottom: 10px;
    left: 55px;
}
