#div7v{
    background-color: #000000;
    height: 1050px;
    width: 890px;
    position: relative;
    top: 0px;
    border: 5px solid #80461B;
    border-radius: 25px;
}
#gallery{
    color: #ffffff;
    position: relative;
    left: 360px;
    position: relative;
    top: 8px;
}
#p1{
    color: #CD7F32;
    border-bottom: double;
    position: relative;
    top: 13px;
    left: 0.1px;
    width: 890px;
}
#div8{
    background-color: #000000;
    height: 900px;
    width: 225px;
    position: relative;
    top: 30px;
    left: 60px;
}
#div9{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 10px;
    left: 13px;
}
#div91{
    width: 150px;
    height: 150px;
    position: relative;
    left: 25px;
}
#div91:hover{
    width: 200px;
    height: 200px;
    position: relative;
    left: -6px;
}
#latte1{
    color: black;
    font-size: 30px;
    position: relative;
    left: 55px;
}
#div10{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 30px;
    left: 13px;
}
#cap1{
    color: black;
    font-size: 30px;
    position: relative;
    left: 5px;
}
#div11{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 50px;
    left: 13px;
}
#esp1{
    color: #000000;
    font-size: 30px;
    position: relative;
    left: 30px;
}
#div011{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 70px;
    left: 13px;
}
#fl1{
    color: #000000;
    font-size: 30px;
    position: relative;
    left: 15px;
}
#div12{
    background-color: #000000;
    height: 900px;
    width: 225px;
    position: relative;
    top: 30px;
    left: 30px;
}
#div13{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 10px;
    left: 13px;
}
#dop1{
    color: #000000;
    font-size: 30px;
    position: relative;
    left: 45px;
}
#div14{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 30px;
    left: 13px;
}
#red1{
    color: #000000;
    font-size: 30px;
    position: relative;
    left: 45px;
}
#div15{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 50px;
    left: 13px;
}
#ado1{
    color: #000000;
    font-size: 30px;
    position: relative;
    left: 30px;
}
#div015{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 70px;
    left: 13px;
}
#aff1{
    color: #000000;
    font-size: 30px;
    position: relative;
    left: 25px;
}
#div16{
    background-color: #000000;
    height: 900px;
    width: 225px;
    position: relative;
    top: 30px;  
    left: -10px;
}
#div17{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 10px;
    left: 13px;
}
#lungo1{
    color: #000000;
    font-size: 30px;
    position: relative;
    left: 50px;
}
#div18{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 30px;
    left: 13px;
}
#machh1{
    color: #000000;
    font-size: 30px;
    position: relative;
    left: 12px;
}
#div19{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 50px;
    left: 13px;
}
#mocha1{
    color: #000000;
    font-size: 30px;
    position: relative;
    left: 40px;
}
#div019{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    position: relative;
    top: 70px;
    left: 13px;
}
#irish1{
    color: #000000;
    font-size: 30px;
    position: relative;
    left: 60px;
}
#p2{
    color: #CD7F32;
    border-bottom: double;
    position: relative;
    top: 20px;
    width: 890px;
}